/* Estilos del navBar*/
.navbar {
  background-color: #00548F;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.navbar img {
  margin-right: 10px;
  height: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-photo {
  border-radius: 50%;
  margin-right: 50px;
  height: 40px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name,
.user-permission {
  margin: 0;
  margin-right: 15px;
}

.right-section {
  display: flex;
  align-items: center;
}

.icon {
  height: 20px;
  cursor: pointer;
}


.menu-btn {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 200;
  display: none;
}

.background-login.active-menu .menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-content {
  background-color: #fff;
  padding: 20px;
  width: 350px;
  height: 100px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.menu-content li {
  margin-bottom: 10px;
}

.menu-content a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.menu-content .logo {
  display: block;
  margin: 0 auto;
  width: 135px;
}

hr {
  width: 50%;
  height: 5px;
  background-color: #00548F;
  border: none;
  margin: 20px auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #7E7E7E;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 40px;
}


.card-container {
  display: flex;
}

.card {
  display: flex;
  padding: 20px;
  margin-left: 35px;
}

.rectangle-card {
  display: flex;
  align-items: center;
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 11px;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 165px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-left: -10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #7E7E7E;
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 20px;
}

.logout-icon {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.logout-container span {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  text-align: center;
  color: #7E7E7E;
}

/*Estilos del formulario */
.card-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #00548F;
  font-size: 25px;
}

.card-logo{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: auto;
}

.col-md6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.col-md6 label {
  margin-top: 20px;
  width: 250px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.col-md6 .label_quikito{
  width: 75px;
}

.col-md6 label input {
  width: 500px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 8px;
  margin-right: 200px;
}

#entreCalles {
  width: 250px;
  padding-bottom: 50px;
  flex-direction: column-reverse;
}

#calle,
#colonia{
  width: 150px
}

#noInt,
#noExt{
  width: 100px;
  }

.direccion-container{
  justify-content: space-between;
  display: flex;
}

.calles-container{
  width: 250px;
}

.label_quikito {
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
}

.col-md6-imagen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
}

.col-md6-imagen {
  margin-top: 10px;
  border: #000 solid 1px;
  background-color: #00000020;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  width: 500px;
  height: 330px;
}

.camara-icon {
  margin-top: 280px;
  margin-right: 20px;
}

#nombre::placeholder,
#edad::placeholder,
#estado::placeholder,
#municipio::placeholder,
#calle::placeholder,
#colonia::placeholder,
#entreCalles::placeholder,
#noInt::placeholder,
#noExt::placeholder{
  color: #7E7E7E;
  font-size: 16px;
}


.col-md6-escolar {
  display: flex;
  flex-direction: column;
  margin-right: 950px;
}

.col-md6-escolar label {
  margin-top: 20px;
  width: 250px;
}

.col-md6-escolar label input {
  width: 500px;
  box-sizing: border-box;
  padding: 8px;
}

#nombreInstitucion::placeholder,
#gradoEscolaridad::placeholder,
#apoyo::placeholder,
#estatus::placeholder{
  color: #00548F;
  font-size: 16px;
}


button{
  background-color: #1E91E2;
  color: white;
  margin-top: 50px;
  width: 407px;
  height: 67px;
  border: 10px solid;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

