<nav class="navbar">
  <div class="left-section">
    <img src="/assets/navBarFrame.png" alt="Logo">
  </div>
  <div class="right-section">
    <div class="user-info">
      <img src="/assets/.jpg" alt="User Photo" class="user-photo">
      <div class="user-details">
        <p class="user-name">Cesar rincon</p>
        <p class="user-permission">Administrador</p>
      </div>
    </div>
    <img src="/assets/salir.png" alt="Cerrar Sesión" class="icon">
    <div class="menu-btn" (click)="toggleMenu()">
      <img src="/assets/menu.png" alt="Menú">
    </div>
  </div>
</nav>

<div class="background-login" [class.active-menu]="showMenu">
  <div class="menu-overlay" *ngIf="showMenu" (click)="toggleMenu()">
    <div class="menu-content">
      <div>
        <img src="/assets/frameMenu.png" alt="Logo Geo Apoyos" class="logo">
      </div>
      <h1> MENÚ </h1>
      <hr>
      <ul>
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.link">
            <div class="card-container">
              <div class="card rectangle-card" [style.background-color]="item.backgroundColor">
                <img [src]="item.icon" alt="Icon" class="book-icon">
              </div>
              <div class="card text-card">
                <span>{{ item.label }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="logout-container">
        <img src="/assets/logoutp.png" alt="Logout Icon" class="logout-icon">
        <span>Cerrar Sesión</span>
      </div>

    </div>
  </div>
</div>


<form class="card-menu" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" enctype="multipart/form-data">
  <h2>SOLICITUD DE ALTA</h2>

  <div class="card-logo">
    <img src="/assets/geoApoyosAlta.png" alt="Geo Apoyos">
  </div>


  <div class="col-md6">
    <div class="input-container">
      <label for="nombre">
        <input type="text" id="nombre" name="nombre" [(ngModel)]="formulario.nombre" placeholder="Nombre">
      </label>
      <label for="edad">
        <input type="number" id="edad" name="edad" [(ngModel)]="formulario.edad" placeholder="Edad">
      </label>
      <!-- <label for="estado">
        <input type="text" id="estado" name="estado" [(ngModel)]="formulario.estado" placeholder="Estado">
      </label> -->
      <label id="estado">
        <select class="p-4 w-100"  name="estado" [(ngModel)]="formulario.estado"
          (change)="getMunicipios()">
          <option  [value]="e" *ngFor="let e of estado_lista">{{e}}</option>
        </select>
      </label>
      

      <!-- <label for="municipio">
        <input type="text" id="municipio" name="municipio" [(ngModel)]="formulario.municipio" placeholder="Municipio">
      </label> -->
      <label id="municipio">
        <select class="p-4 w-100"  name="estado" [(ngModel)]="formulario.municipio">
          <option  [value]="m" *ngFor="let m of municipio_lista">{{m}}</option>
        </select>
      </label>
      <br>


      <div class="direccion-container">


        <div class="calles-container">
          <label for="calle">
            <input type="text" id="calle" name="calle" [(ngModel)]="formulario.calle" placeholder="Calle">
          </label>
          <label for="colonia">
            <input type="text" id="colonia" name="colonia" [(ngModel)]="formulario.colonia" placeholder="Colonia">
          </label>

          <div class="numeros-container">
            <label class="label_quikito" for="noInt">
              <input type="text" id="noInt" name="noInt" [(ngModel)]="formulario.no_int" placeholder="No. Int">
            </label>
            <label class="label_quikito" for="noExt">
              <input type="text" id="noExt" name="noExt" [(ngModel)]="formulario.no_ext" placeholder="No. Ext">
            </label>
          </div>

        </div>

        <div>
          <label for="entreCalles">
            <input type="text" id="entreCalles" name="entre_calles" [(ngModel)]="formulario.entre_calles" placeholder="Entre Calles">
          </label>
        </div>
      </div>
    </div>

    <div class="col-md6-imagen tarjeta-foto" 
        [style.background-image]=" imageUrl != ''?'url(' + imageUrl + ')' :''">

        <div class="btn botton-foto ">
          <input *ngIf="imageUrl == ''"
            type="file" name="archivo" id="fileInput" accept=".jpg, .jpeg, .png"
            (change)="onFileChange($event)" #fileInput required ngModel>
          <label for="fileInput">
            <span class="icon"><img src="/assets/camara.png" alt="Imagen" class="camara-icon"></span>
          </label>
        </div>
      <!-- <img class="w-100" [src]="imageUrl" alt="Imagen seleccionada" *ngIf="imageUrl"> -->

      <h4 class="mensaje"><span>{{ mensaje }}</span></h4>

    </div>
  </div>

  <div class="col-md6-escolar">
    <label for="nombreInstitucion">
      <input type="text" id="nombreInstitucion" name="institucion"
        [(ngModel)]="formulario.institucion"
        placeholder="Nombre de la institucion">
    </label>
    <!-- <label for="gradoEscolaridad">
      <input type="number" id="gradoEscolaridad" name="grado_escolaridad"
        [(ngModel)]="formulario.grado_escolaridad"
        placeholder="Grado de escolaridad">
    </label> -->

    <label id="gradoEscolaridad">
      <select class="p-4 w-100"  name="grado_escolaridad" [(ngModel)]="formulario.grado_escolaridad">
        <option value="Secundaria">Secundaria</option>
        <option value="Preparatoria">Preparatoria</option>
        <option value="TSU">TSU</option>
      </select>
    </label>


    <label id="apoyo">
      <select class="p-4 w-100"  name="apoyo" [(ngModel)]="formulario.id_tipo_apoyo">
        <option  [value]="(1)" >{{apoyos_lista[0]}}</option>
        <option  [value]="(2)" >{{apoyos_lista[1]}}</option>
        <option  [value]="(3)" >{{apoyos_lista[2]}}</option>

      </select>
    </label>
    <label id="estatus">
      <select class="p-4 w-100"  name="estatus" [(ngModel)]="formulario.id_estatus" disabled>
        <option  [value]="i+1" *ngFor="let m of apoyos_estatus, let i = index">{{m}}</option>
      </select>
    </label>


  </div>

  <div class="button">
    <button type="submit">
      Registrar
    </button>
  </div>
</form>


