.navbar {
  background-color: #00548F;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{
  margin-left: 200px;
}

.navbar img {
  margin-right: 15px;
  height: 30px;
}

.salir{
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-photo {
  border-radius: 50%;
  margin-right: 50px;
  height: 40px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name,
.user-permission {
  margin: 0;
  margin-right: 15px;
}

.right-section {
  display: flex;
  align-items: center;
}

.icon {
  height: 20px;
}

.background-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-image: url('/assets/backgroundLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.menu-btn {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 200;
  display: none;
}

.background-login.active-menu .menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-content {
  background-color: #fff;
  padding: 20px;
  width: 350px;
  height: 100px;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.menu-content li {
  margin-bottom: 10px;
}

.menu-content a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.menu-content .logo {
  display: block;
  margin: 0 auto;
  width: 135px;
}

hr {
  width: 50%;
  height: 5px;
  background-color: #00548F;
  border: none;
  margin: 20px auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #7E7E7E;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 40px;
}


.card-container {
  display: flex;
}

.card {
  display: flex;
  padding: 20px;
  margin-left: 35px;
}

.rectangle-card {
  display: flex;
  align-items: center;
  width: 30px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 11px;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 165px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-left: -10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #7E7E7E;
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 20px;
}

.logout-icon {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.logout-container span {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20.7px;
  text-align: center;
  color: #7E7E7E;
}
