<nav class="navbar">
  <!-- Aquí colocarías los elementos de tu navbar, como enlaces, logotipo, etc. -->
</nav>

<div class="background-login">

 <div class="container">
    <div class="form">
      <img src="assets/frame.png" alt="Logo" class="logo">
      <h2>Iniciar sesion</h2>

      <div class="form-group">
        <form >
        <label for="email" class="icon-label">
          <input type="email" id="email" name="email" placeholder="Correo Electrónico">
        </label>
        <br>
        <label for="password" class="icon-label password-label">
          <input type="password" id="password" name="password" placeholder="Contraseña">
        </label>
        <h3 class="forgot-password">¿Olvidaste tu contraseña?</h3>
        <h4 class="recover">Recuperar</h4>

        <div class="remember-me">
          <label for="remember">Recuérdame</label>
          <input type="checkbox" id="remember" name="remember">
        </div>

        <div class="button-container">
          <button type="submit" class="login-button" (click)="redirectPrincipal()">Entrar</button>
        </div>
      </form>
      </div>
    </div>
 </div>

</div>
