<head>
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- ICONS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

</head>
<nav class="navbar">
  <div class="left-section">
    <img src="/assets/navBarFrame.png" alt="Logo">
  </div>
  <div class="right-section" >
    <div class="user-info">
      <img src="/assets/usuarioNavBar.png" alt="User Photo" class="user-photo">
      <div class="user-details">
        <p class="user-name"></p>
        <p class="user-permission"></p>
      </div>
    </div>
    <img src="/assets/salir.png" (click)="logout()" alt="Cerrar Sesión" class="icon">
    <div class="menu-btn" (click)="toggleMenu()">
      <img src="/assets/menu.png" alt="Menú">
    </div>
  </div>
</nav>

<div class="background-login" [class.active-menu]="showMenu">
  <div class="menu-overlay" *ngIf="showMenu" (click)="toggleMenu()">
    <div class="menu-content">
      <div>
        <img src="/assets/frameMenu.png"  alt="Logo Geo Apoyos" class="logo">
      </div>
      <h1> MENÚ </h1>
      <hr>
      <ul>
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.link">
            <div class="card-container">
              <div class="card rectangle-card" [style.background-color]="item.backgroundColor">
                <img [src]="item.icon" alt="Icon" class="book-icon">
              </div>
              <div class="card text-card">
                <span>{{ item.label }}</span>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="logout-container">
        <img src="/assets/logoutp.png" (click)="logout()" alt="Logout Icon" class="logout-icon">
        <span>Cerrar Sesión</span>
      </div>
    </div>
  </div>

<div class="p-5 my_background h-100">

  <div class="bg-light p-2 text-center h-75">

    <h2>LISTADO DE CANDIDATOS PARA APOYO
      <button class="btn btn-danger text-light px-4 float-end" (click)="exportarPDF()">Exportar a PDF</button>
    </h2>

    <h2>
      <input class="w-75 px-4" type="text" name="filtro" [(ngModel)]="filtro" placeholder="buscar por nombre . . .">
    </h2>

    <div class="my_table">
    <table class="table table-striped table-bordered" >
      <thead>
        <tr class="text-light bg-azul_2 rounded">
          <th class="rounded-start p-2 py-3">Nombre</th>
          <th>Status de Apoyo</th>
          <th>Visitado</th>
          <th>Status Encuesta</th>
          <th>Asignar Visita</th>
          <th>Fecha visita</th>
          <th class="rounded-end">Catalogo</th>
        </tr>
      </thead>


      <tbody class="scroll">

        <!-- <tr *ngFor="let item of lista_candidatos | filtro: filtro ">
          <td>{{item.nombre}}</td>
          <td>
            <div *ngIf="item.estatus_apoyo == 1" class="bg-warning icon_color"></div>
            <div *ngIf="item.estatus_apoyo == 2" class="bg-success icon_color"></div>
            <div *ngIf="item.estatus_apoyo == 3" class="bg-danger icon_color"></div>
            {{apoyos_estatus[item.estatus_apoyo-1]}}
          </td>
          <td>{{item.visitado==1 ?'Sí':'No'}}</td>
          <td>
            <button class="btn btn-light mx-1 px-1">
              <i *ngIf="item.estatus_encuesta == 1" class="bi  bi-dash-circle-fill text-success"></i>
              <i *ngIf="item.estatus_encuesta == 0" class="bi  bi-dash-circle-fill text-warning"></i>
            </button>
            {{item.estatus_encuesta == 1 ?'Encuestado':'No Encuestado'}}
          </td>
          <td>{{item.nombre_usuario}}</td>
          <td>{{obtenerFechaFormateada(item.fecha_visita)}}</td>

          <td>
            <a href="encuesta/{{item.id_visita}}">
              <button class="btn btn-primary">
                <i class="bi bi-clipboard-data-fill"></i>
              </button>
            </a>
            <button class="btn btn-light mx-1 px-1">
              <i *ngIf="item.catalogos == 'pendiente'" class="bi  bi-dash-circle-fill text-warning"></i>
              <i *ngIf="item.catalogos == 'autorizado'" class="bi bi-check-lg text-success"></i>
              <i *ngIf="item.catalogos == 'rechazado'" class="bi bi-x-circle-fill text-danger"></i>
            </button>


            <select  class="p-2 w-50"[(ngModel)]="item.catalogos">
              <option [value]="ap" *ngFor="let ap of apoyos_estatus, let i = index">{{ap}}</option>
            </select>
          </td>

        </tr> -->

        <tr *ngFor="let item of lista_candidatos | filtro: filtro, let index = index ">
          <td>{{item.nombre}}</td>
          <td>
            <div *ngIf="item.id_estatus == 1" class="bg-warning icon_color"></div>
            <div *ngIf="item.id_estatus == 2" class="bg-success icon_color"></div>
            <div *ngIf="item.id_estatus == 3" class="bg-danger icon_color"></div>
            {{apoyos_estatus[item.id_estatus-1]}}
          </td>
          <td>{{item.id_estatus==1 ?'Sí':'No'}}</td>
          <td>
            <button class="btn btn-light mx-1 px-1">
              <i *ngIf="item.id_estatus == 3" class="bi  bi-dash-circle-fill text-success"></i>
              <i *ngIf="item.id_estatus == 2" class="bi  bi-dash-circle-fill text-success"></i>
              <i *ngIf="item.id_estatus == 1" class="bi  bi-dash-circle-fill text-warning"></i>
            </button>
            {{item.id_estatus == 1 ?'No Encuestado':'Encuestado'}}
          </td>
          <td>{{item.nombre}}</td>
          <td>{{obtenerFechaFormateada(item.updated_at)}}</td>

          <td>
            <a href="encuesta/{{item.id_candidato}}">
              <button class="btn btn-primary">
                <i class="bi bi-clipboard-data-fill"></i>
              </button>
            </a>
            <button class="btn btn-light mx-1 px-1">
              <i *ngIf="item.id_estatus == 1" class="bi  bi-dash-circle-fill text-warning"></i>
              <i *ngIf="item.id_estatus == 2" class="bi bi-check-lg text-success"></i>
              <i *ngIf="item.id_estatus == 3" class="bi bi-x-circle-fill text-danger"></i>
            </button>


            <select  class="p-2 w-50"[(ngModel)]="item.id_estatus" (change)="updateStatus(item.id_candidato, index)">
              <option [value]="i+1" *ngFor="let ap of apoyos_estatus, let i = index">{{ap}}</option>
            </select>
          </td>

        </tr>

      </tbody>

    </table>

  </div>
  </div>
</div>
